
Flickr/.idea/assetWizardSettings.xml
Flickr/.idea/caches/build_file_checksums.ser
Flickr/.idea/codeStyles/Project.xml
Flickr/.idea/misc.xml
Flickr/.idea/navEditor.xml
Flickr/.idea/vcs.xml
Flickr/.idea/misc.xml
Flickr/.idea/misc.xml
